@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Thin */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Thin-v3-2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Thin-It-v3-2.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }

  /* Ultra Light */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_UlLi-v3-2.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_UlLi-It-v3-2.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }

  /* Light */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Li-v3-2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Li-It-v3-2.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }

  /* Regular/Normal */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_v3-2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_It-v3-2.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  /* Medium */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Med-v3-2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Med-It-v3-2.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  /* Bold */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Bd-v3-2.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Bd-It-v3-2.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }

  /* Black */
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Blk-v3-2.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB-Heavent';
    src: url('./assets/fonts/DB-Heavent_Blk-It-v3-2.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

  body {
    @apply min-h-[100vh] min-w-[320px] bg-primary-white text-primary-fake-black;
  }

  /* Headers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 2rem; /* 32px */
  }

  h3 {
    font-size: 1.75rem; /* 28px */
  }

  h4 {
    font-size: 1.5rem; /* 24px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
  }

  h6 {
    font-size: 1rem; /* 16px */
  }

  /* Paragraphs */
  p {
    @apply font-normal;
  }

  /* table */
  th {
    @apply p-0;
  }

  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

:root {
  font-family: 'DB-Heavent', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
